 .portfolio{
    margin-bottom:150px;
    
}
.portfolio .container{
   display: flex;
   justify-content: center;
}
.portfolio .container ul{
    display: flex;
    list-style: none;
}
.portfolio .container ul li{
    padding:15px;
    cursor: pointer;
}
.portfolio .container ul li.active{
    background-color:#19c8fa;   
}
.portfolio .image-container{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .image-container .box{
    overflow:hidden;
    position: relative;
}
.portfolio .image-container .box:hover .caption{
    bottom:0;
}
.portfolio .image-container .box:hover img{
    transform: rotate(3deg) scale(1.1);
}
@media (min-width:768px){
    .portfolio .image-container .box{
        flex-basis: 50%;
    }
}
@media (min-width:1199px){
    .portfolio .image-container .box{
        flex-basis: 25%;
    }
}
.portfolio .image-container .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .image-container .box .caption{
    position: absolute;
    left:0;
    padding:20px;
    background-color: white;
    width:100%;
    transition: .3s;
    bottom:-100%;
}
.portfolio .image-container .box .caption h4{
    font-weight:normal;
    margin-bottom:10px;
}
.portfolio .image-container .box .caption p{
    color: #19c8fa;
}
.portfolio a{
    background-color: #19c8fa;
    color: white;
    padding: 15px 20px;
    display:block;
    width: fit-content;
    margin:30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
/*
.portfolio .image-container{
    margin-top:60px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4 , minmax(250px , 1fr));
    grid-gap:15px;
    max-width:100%;


}
.portfolio .image-container .box img{
}
 

@media (max-width: 768px){
    .portfolio .image-container{
        display: grid;
        grid-template-columns: repeat(1 , minmax(400px , 1fr));
        grid-gap:5px;
    }
}
@media (max-width: 992px){
    .portfolio .image-container{
        display: grid;
        grid-template-columns: repeat(2 , minmax(400px , 1fr));
        grid-gap: 5px;
    }

}
@media (max-width: 1199.98px) { 
    .portfolio .image-container{
        display: grid;
        grid-template-columns: repeat(4 , minmax(400px , 1fr));
        grid-gap: 5px;
    }

 }
.portfolio .image-container .box{
    position: relative;
    overflow: hidden;
}
.portfolio .image-container .box:hover .caption{
    position: absolute;
    bottom: 0;
}
.portfolio .image-container .box:hover img{
    transform:rotate(3deg) scale(1.1)
}
.portfolio .image-container .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .image-container .box .caption{
    position: absolute;
    left:0;
    padding:20px;
    background-color: white;
    width:100%;
    transition: .4s;
    bottom:-100%;
}
.portfolio .image-container .box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .image-container .box .caption p{
    color:#19c8fa;
}
.portfolio  a{
     text-decoration: none;
     width: fit-content;
     display: block;
     text-align: center;
     padding:15px 20px;
     background-color: #19c8fa;
     color:white;
     margin:30px auto;
}  */

